{% extends 'main_app/base.html' %}

{% block content %}

<h1 style="color:white;">📞 Kontak Saya</h1>

<div class="card" style="max-width:700px;">

    <h3>Hubungi saya</h3>

    <p>Jika Anda memiliki pertanyaan atau membutuhkan bantuan, silakan hubungi:</p>

    <p><b>Email:</b> riyanrahmadan@gmail.com</p>
    <p><b>Telepon:</b> 085876312713</p>
    <p><b>Alamat:</b> Bandar Lampung, Indonesia</p>

    <br>

    <h3>Media Sosial</h3>

    <p>📘 Facebook: Riyan</p>
    <p>📸 Instagram: @riyanrahmadani</p>
    <p>🐦 Twitter: @ngowoh1213</p>

</div>

{% endblock %}