{% extends 'main_app/base.html' %}

{% block content %}

<h1>📋 Daftar Laporan Masyarakat</h1>

<br>

<a href="{% url 'add_report' %}" class="btn">+ Tambah Laporan</a>

<br><br>

{% for report in reports %}
<div class="card">
    <h3>{{ report.title }}</h3>
    <p><b>Kategori:</b> {{ report.category }}</p>
    <p><b>Deskripsi:</b> {{ report.description }}</p>
    <p><b>Lokasi:</b> {{ report.location }}</p>
    <p><b>Status:</b> {{ report.status }}</p>

    <br>

    <a href="{% url 'edit_report' report.id %}" class="btn">✏️ Edit</a>
    <a href="{% url 'delete_report' report.id %}" class="btn btn-danger">🗑 Delete</a>
</div>

{% empty %}
<p style="color:white;">Belum ada laporan</p>
{% endfor %}

{% endblock %}